$color_pink = #df003f
$color_white = #fff
$color_black = #000

$topBlock__width_max = 800px
$topBlock__height_max = 400px
$topBlock__skew__angle = 45deg
$topBlock__skew__width = (tan($topBlock__skew__angle) * ($topBlock__height_max / 2))
$topBlock__skew__width_max = 120px
$topBlock__title__lineCount = 2
$topBlock__pad = 10px

$quality__fontSize = 16px
$quality__lineHeight = 20px
$quality__pad_x = 8px
$quality__pad_y = 2px
$quality__height = $quality__lineHeight + (2 * $quality__pad_y)

$listBlock__items__gax_x = 10px

$pageWrapper__maxWidth = $topBlock__width_max
$pageWrapper__minWidth = 320px
